@model GFin.Web.Models.DespesaFixaModel

@{
    ViewBag.Title = "Conta à Pagar Fixas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Registrar", "DespesaFixa", FormMethod.Post))
{
    @Html.Hidden("IdDespesaFixa", "")
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="IdNaturezaContaDespesaFixa">Natureza da Despesa:</label>
                <div class="input-group">
                    @Html.DropDownListFor(model => model.IdNaturezaContaDespesaFixa, Model.DropboxNaturezaDespesa.Itens, new { @required = true, @class = "form-control" })
                    <div class="input-group-btn">
                        <a data-retornodropdown="IdNaturezaContaDespesaFixa" class="btn btn-default novaNaturezaDespesa" title="Nova natureza da despesa."><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-5">
            <div class="form-group">
                <label for="NumeroDiaVencimentoDespesaFixa">Venciamento:</label>
                @Html.DropDownListFor(model => model.NumeroDiaVencimentoDespesaFixa, Model.DropboxDiaVencimento.Itens, new { @required = true, @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4 col-xs-7">
            <div class="form-group">
                <label for="ValorDespesaFixa">Valor da Despesa:</label>
                @Html.TextBoxFor(model => model.ValorDespesaFixa, new { @maxlength = "15", @alt = "valor", @required = true, @class = "form-control valor text-right", @placeholder = "Valor da despesa fixa" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="form-group">
                <label for="TextoDescricaoDespesaFixa">Descrição da Despesa Fixa:</label>
                @Html.TextBoxFor(m => m.TextoDescricaoDespesaFixa, new { @maxlength = 100, @required = true, @class = "form-control", @placeholder = "Texto da descrição da despesa fixa" })
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <label for="CodigoFormaPagamentoDespesaMensal">Forma de Liquidação:</label>
                @Html.DropDownListFor(model => model.CodigoTipoFormaLiquidacao, Model.DropboxFormaLiquidacao.Itens, new { @required = true, @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="pull-right">
                <button id="btnRegistrar" type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
}
<div id="listaDespesaFixa">Carregar lista de despesas fixa...</div>
<div id="historicoDespesaFixa"></div>
<div id="novaNaturezaDespesa"></div>
@section ScriptPage {
<script src="~/Content/site/js/ViewDespesaFixa.js"></script>
<script src="~/Content/site/js/ModalNovaNaturezaConta.js"></script>
<script src="~/Content/chart/js/chart.min.js"></script>
}