@model GFin.Web.Models.ReenviarConfirmacaoUsuarioModel
@{
    ViewBag.Title = "Reenviar Confirmação de Usuário";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-right">
        <h1 class="hidden-xs">Gerenciador Financeiro</h1>
        <h2 class="visible-xs">Gerenciador Financeiro</h2>
        <img src="~/Content/site/imgs/logo-inFourSys-reduzido.png" /><br /><br />
        <div class="well well-sm hidden-xs">
            <h4><strong>Reenviar Confirmação de Usuário</strong></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        @Html.ValidationSummary()
        @using (Html.BeginForm("ReenviarConfirmacaoEmail", "Usuario", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.IdUsuario)
            <div class="well well-sm text-left">
                <h4>@Model.Nome</h4>
                <h5>Você ainda não <strong>confirmou seu registro</strong>, caso <strong>não</strong> tenha recebido um e-mail para confirmação, podemos reenvia-lo para você.</h5>
                <h5>E-mail: @Model.Email<br />Data e hora do seu registro: @Model.DataHoraRegistro.ToString("dd/MM/yyyy HH:mm")</h5><br />
                <p>Atenciosamente, <br />Equipe da inFourSys - Soluções para humanos.</p>
            </div>
            <div class="text-center">
                <button id="btnReenviar" type="submit" class="btn btn-primary">Reenviar E-mail de Confirmação</button>
                @Html.ActionLink("Voltar ao Login", "Login", "Usuario", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
