@model GFin.Web.Models.CorrentistaModel
@{
    ViewBag.Title = "Agenda de Correntistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StylePage {
    <style>
        .textBoxSelect {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            position:relative;
            margin-top: -32px;
            margin-left: 3px;
            height: 30px;
            width: 95%;
        }
        .textBoxSelect:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>
}
@using (Html.BeginForm("Registrar", "Correntista", FormMethod.Post))
{
    @Html.HiddenFor(m => m.IdCorrentista)
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label class="control-label" for="nomeBanco">Nome do Banco</label>
                @Html.DropDownList("selectNomeBanco", Model.DropboxNomeBanco.Itens, new { @class = "form-control editableSelect", @title = "Nome do Banco do Correntista" })
                @Html.TextBoxFor(model => model.NomeBanco, new { @maxlength = 80, @required = true, @class = "form-control textBoxSelect", @placeholder = "Nome do Banco", @title = "Nome do Banco do Correntista" })
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="form-group">
                <label for="NumeroAgencia">N.º Agência<span class="hidden-xs"> e DV</span>:</label>
                @Html.TextBoxFor(model => model.NumeroAgencia, new { @maxlength = 6, @required = true, @class = "form-control text-right", @placeholder = "Número de sua agência, com dígito verificador" })
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="form-group">
                <label for="NumeroContaCorrente">N.º Conta<span class="hidden-xs"> Corrente e DV</span>:</label>
                @Html.TextBoxFor(model => model.NumeroContaCorrente, new { @maxlength = "15", @required = true, @class = "form-control text-right", @placeholder = "Número de sua conta corrente, com dígito verificador" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="NomeCorrentista">Nome do Correntista</label>
                @Html.TextBoxFor(model => model.NomeCorrentista, new { @maxlength = 80, @required = true, @class = "form-control", @placeholder = "Nome do Correntista", @title = "Nome do correntista." })
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="Observacao">Observações:</label>
                @Html.TextBoxFor(model => model.Observacao, new { @class = "form-control", @placeholder = "Observações do correntista", @title = "Observação do correntista." })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="pull-right">
                <button id="btnRegistrar" type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
}
<div id="listarCorrentista">Carregar lista de correntistas...</div>
@section ScriptPage {
    <script src="~/Content/site/js/ViewCorrentista.js"></script>
}